<%- include ("partials/header.ejs") %>
<main>

<div class="herobanner">
    <div class="quote">
        <h2>
            "Welcome to our Blog App! Share your thoughts, connect with a 
            vibrant community, and unleash your creativity. Start 
            your blogging journey and inspire others with your unique voice!"
        </h2>
       
        <button class="heroButton"><a href="/create">Get Started</a></button>
       
    </div>
    <div>
        <img src="/assets/blog.png" alt="heroImg" class="heroImg" >
    </div>   
</div>
<h2>Blogs </h2>
<div class="featuredCards">
    <% if (posts.length > 0) { %>
    <% posts.forEach(post=> { %>
    <form method="POST" class="blogCard"> 
        <div>
            <input type="hidden" name="_method" value="DELETE">
            <input type="hidden" name="id" value="<%= post.id %>">
            <h3><%= post.title %> </h3>
            <p><%= post.content %></p>
            <p><%=post.createdOn %></p>
        </div>
        <div>
            <small><%= post.userName %></small>
            <small><%= post.userEmail %></small>
        </div>

        <div class="click">
                <button formaction="/delete" type="submit" class="edit" >Delete</button>
                <button  formaction="/edit" type="submit" class="edit" ><a href="/edit">Edit</a></button>
        </div>
        
    </form>    
   <% }); %>
   <% }else{ %>
    <p>No blog posts available.</p>
    <% } %>
</div>    

</main>

<%- include ("partials/footer.ejs") %>

