<%- include ("partials/header.ejs") %>
<main>

<div class="herobanner">
    <div class="quote">
        <h2>
            "Welcome to our Blog App! Share your thoughts, connect with a 
            vibrant community, and unleash your creativity. Start 
            your blogging journey and inspire others with your unique voice!"
        </h2>
       
        <button><a href="/create">Get Started</a></button>
       
    </div>
    <div>
        <img src="/assets/blog.png" alt="heroImg" class="heroImg" >
    </div>   
</div>
<h2>Blogs </h2>
<div class="featuredCards"> 
    <% if (posts && posts.length > 0) { %>
    <% posts.forEach(post=> { %>
    <div class="blogCard">
        <div>
            <h3><%= post.title %> </h3>
            <p><%= locals.content %></p>
            <p><%=locals.createdOn %></p>
        </div>
        <div>
            <small><%= locals.userName %></small>
            <small><%= locals.userEmail %></small>
        </div>
    </div>    
   <% }); %>
   <% }else{ %>
    <p>No blog posts available.</p>
    <% } %>
</div>    

</main>

<%- include ("partials/footer.ejs") %>

